/* login.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../images/background.jpeg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}


.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #49408c;
}

input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #49408c;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2814c5d7;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}
